<div class="registration-form">
  <h1>Register</h1>
  <div class="lead">Registering for JophAuth will create an encrypted vault for you to store your 2FA tokens.</div>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email address</label>
      <input id="email" type="email" class="form-control" aria-describedby="emailHint" placeholder="someone@example.com" [formControlName]="formKeys.email">
      <small id="emailHint" class="form-text text-muted">This will be used to identify your vault.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" class="form-control" aria-describedby="passwordHint" placeholder="Pick a strong password" [formControlName]="formKeys.password">
      <small id="passwordHint" class="form-text text-muted">Keep this safe, if you forget it we won't be able to decrypt your vault.</small>
    </div>
    <div class="submit-button">
      <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Create my vault!</button>
    </div>
  </form>
  <small class="text-muted">
    Already registered? <a routerLink="/login">Log in</a> instead.
  </small>
</div>